div#projects {
    background-color: rgb(250, 250, 250);
}

div.projects-body {
    width: 80%;
    margin: auto;
    padding-top: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: black;
}

.project-wrapper {
    width: 250px;
    min-width: 250px;
    max-height: 250px;
    text-align: center;
    border: lightgray solid 3px;
    border-radius: 5px;
    margin: 15px 15px;
    box-shadow: 5px 7px 10px rgb(175, 175, 175);
    transition: all 0.2s ease-in-out;
}

.project-wrapper:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.project-title {
    display: block;
    font-family: "Poppins-Bold";
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    font-style: normal;
    padding-right: 0px;
    text-align: center;
    font-size: 18px;
    height: 80px;
    line-height: 1.7em;
    color: black;
    margin-top: 20px;
}

.first-title {
    color: rgb(200, 200, 200);
}

.circle {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: lightgrey;
    border-radius: 50%;
}

h1,
p {
    margin: 0px;
}

.project-desc {
    display: block;
    margin: 25px auto;
    width: 80%;
}

.project-desc p {
    line-height: 1.3em;
    font-size: 14px;
}

.project-blue {
    color: #55828b;
}

.project-green {
    color: #52796f;
}

.project-orange {
    color: #a55d35;
}

.project-maroon {
    color: maroon;
}

.circle.project-blue {
    background-color: #55828b;
}

.circle.project-green {
    background-color: #52796f;
}

.circle.project-orange {
    background-color: #a55d35;
}

.circle.project-maroon {
    background-color: maroon;
}
@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
